@mixin primary-button() {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  margin: 20px 0px;
  border-radius: 20px;
  background-color: $primary-color;
  font-family: $font-family-royalIntegrity;
  font-size: $buttons-text;
  color: $text-quartiary-color;
  border: none;
  cursor: pointer;

  @media (min-width: 1160px) {
    &:hover {
      background-color: $quintiary-color;
    }
  }

  @media (min-width: 1160px) {
    padding: 25px 50px;
  }
}

@mixin calltoaction-button() {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  margin: 20px 0px;
  border-radius: 20px;
  background-color: $secondary-color;
  font-family: $font-family-royalIntegrity;
  font-size: $buttons-text;
  color: $text-quartiary-color;
  border: none;
  cursor: pointer;

  @media (min-width: 1160px) {
    padding: 35px 35px;
  }
}

@mixin submit-button() {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px;
  margin: 20px 0px;
  border-radius: 20px;
  background-color: $secondary-color;
  font-family: $font-family-royalIntegrity;
  font-size: $buttons-text;
  color: $text-quartiary-color;
  border: none;
  cursor: pointer;

  @media (min-width: 1160px) {
    padding: 30px 65px;
  }
}

@mixin primary-button-transparent {
  @include primary-button;
  background-color: rgba(246, 175, 51, 0.8);
  border: 0.1rem solid #4e4a9e;
  border-radius: 35px;
  color: #4e4a9e;
  backdrop-filter: blur(10px);
}

@mixin primary-button-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color-dark;
  border: none;
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 0px;
  padding: 15px 20px;
  margin: 0px;
}

@mixin secondary-button-nav {
  @include primary-button-nav;
  background-color: $primary-color-highlight;
}

@mixin button-gradient {
  @include primary-button;
  color: $primary-color-dark;
  border-radius: 32px;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, #4e4a9e, #f6af33);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  text-decoration: none;
}

@mixin button-gradient-alt {
  @include primary-button;
  color: #fff;
  border-radius: 32px;
  border: none;
  background-image: linear-gradient(to right, #4e4a9e, #f6af33);
  background-clip: border-box;
  text-decoration: none;
}
