.hero-section-mobile {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
  color: $primary-color-dark;
  font-family: $font-family-royalIntegrity;
  background: linear-gradient(0deg, #fff 50%, $secondary-color);

  &__container {
    width: 100%;
    position: relative;

    &--content {
      box-sizing: border-box;
      width: 100%;
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      position: absolute;
      top: 18%;

      @media (min-width: 650px) {
        padding: 0px 40px;
      }

    }
  }
}

.hero {
  &__title {
    text-align: center;
    font-size: $mobile-title;
    line-height: 30px;
    width: 62%;

    @media (min-width: 375px) {
      width: 60%;
    }

    @media (min-width: 570px) {
      font-size: $mobile-title-md;
    }

    @media (min-width: 650px) {
      font-size: $mobile-title-lg;
      line-height: normal;
    }
  }

  &__description {
    text-align: center;
    font-size: $small;
    line-height: normal;

    @media (min-width: 570px) {
      font-size: $body-sm;
    }

    @media (min-width: 650px) {
      font-size: $body;
    }
  }
}

.hero-img {
  width: 100%;
  height: auto;
  margin-top: calc($navbar-height-mobile / 2);

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}