.why-thori-mobile {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 10px;


  &__information {
    box-sizing: border-box;
    width: 100%;

    text-align: justify;
    font-size: $small;
    line-height: normal;

    @media (min-width: 570px) {
      font-size: $body-sm;
    }

    @media (min-width: 650px) {
      font-size: $body;
    }

    @media (min-width: 928px) {
      font-size: $medium;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &--stat {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}

.stat {
  &__number {
    width: 20%;
    font-size: $medium;
    text-align: center;

    @media (min-width: 570px) {
      font-size: $body-md;
    }

    @media (min-width: 650px) {
      font-size: $body-lg-2;
    }

    @media (min-width: 928px) {
      font-size: $large-sm;
    }
  }

  &__text {
    width: 100%;
    font-size: $small;
    line-height: normal;

    @media (min-width: 570px) {
      font-size: $body-sm;
    }

    @media (min-width: 650px) {
      font-size: $body;
    }

    @media (min-width: 928px) {
      font-size: $medium;
    }
  }
}